# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db
*.log

# Virtualenv
venv/
env/
*.env

# Jupyter
.ipynb_checkpoints

# IDE
.vscode/
.idea/

# Face images (opsiyonel - silmek istemiyorsan bu satırı çıkar)
*.jpg
*.jpeg
*.png

# OS
.DS_Store
Thumbs.db

